.pessoa {
    background-color: #FFFFFF;
}

@media screen and (min-width: 0) {
    .pessoa {
        display: inline;
        margin: 0;
        width: auto;
    }
    
    .pessoa:nth-child(1) {
        margin: 0 0 100px;
    }
}

@media screen and (min-width: 768px) {
    .pessoa {
        display: inline-block;
        margin: 0 5%;
        width: 22%;
    }

    .pessoa:nth-child(1) {
        margin: 0;
    }
}