.pessoa__imagem {
    background: no-repeat center / cover;
    border-radius: 100%;
}

@media screen and (min-width: 0) {
    .pessoa__imagem {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 768px) {
    .pessoa__imagem {
        height: 300px;
        width: 300px;
    }
}

.pessoa__imagem--maiara {
    background-image: url('../../img/pessoas/maiara.jpg');
}

.pessoa__imagem--giana {
    background-image: url('../../img/pessoas/giana.jpg');
}
