.rodape{
    background-color: #8D0606;
}

.rodape .contato{
    padding: 20px;
}

.rodape nav{
    display: flex;
    justify-content: space-between;
}

.rodape nav .contato__info {
    list-style: none;
}

.rodape nav .contato__info li{
    margin: 0 0 15px;
}

.rodape nav .contato__info li a{
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 0) {
    .rodape nav{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .rodape nav{
        flex-direction: row;
    }
}
