.rodape{
    background-color: #8D0606;
}

.rodape .contato{
    padding: 20px;
}

.rodape nav{
    display: flex;
    justify-content: center;
}

.rodape nav .contato__info {
    list-style: none;
    width: 22%;
    min-width: 375px;
}

.rodape nav .contato__info li{
    margin: 0 0 15px;
}

.rodape nav .contato__info li a{
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 0) {
    .rodape nav{
        flex-direction: column;
    }
    .rodape nav .contato__info li {
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .rodape nav{
        flex-direction: row;
    }
    .rodape nav .contato__info li {
        text-align: center;
    }
}
