.receita__botao {
    background: #8D0606;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 2px;
    padding: 8px 15px;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background: #620404;
    cursor: pointer;
}